# SourceForge Configuration
SF_USERNAME=your_sourceforge_username
SF_PROJECT=your_sourceforge_project_name
SF_PASSWORD=your_sourceforge_password_or_leave_blank_if_using_ssh
SF_KEY_PATH=C:/Users/Admin/.ssh/id_ed25519
SF_API_KEY=your_allura_api_key_if_using_rest_api

# GitHub Integration
GITHUB_REPOSITORY=sheikhmehraann/sourceforge-release-hub
GITHUB_TOKEN=
